table {
    text-align: left;
    background-color: ghostwhite;
    color: royalblue;
    border-radius: 15px;
    border: 4px solid black;
    padding: 20px 30px;
    margin: 20px;
}

header {
    text-align: center;
    color: royalblue;
}

h1 {
    border-bottom: 4px solid black;
}

a {
    color: red;
}

.navivation a {
    background-color: ghostwhite;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}